MyFileServer/BllCode/eDocsDN_syncfusion_Doc_IO_Operations/eDocsDN_Word_File_Operations/Service References/Process_Word_Document/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Get_DateTime_With_Thread">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DateTime_With_ThreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_DateTime_With_ThreadResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CP_Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CP_ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CP_ProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Process_Word_Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Process_Word_DocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Process_Word_DocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Document_Properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Document_PropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_Document_PropertiesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Convert_To_PDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Convert_To_PDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Convert_To_PDFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>