MyFileServer/BllCode/eDocsDN_File_Server/eDocsDN_File_Server/Service References/File_Server/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53727/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="File_Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckSum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Convert_To_PDF" type="xs:boolean" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Destination_Directory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination_File_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Directory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Draft_Version" type="xs:int" />
      <xs:element minOccurs="0" name="File_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File_Operations" nillable="true" type="tns:File_Operations" />
      <xs:element minOccurs="0" name="Need_File_Blob" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrintFormData" type="xs:boolean" />
      <xs:element minOccurs="0" name="Remove_Scan_Sign" type="xs:boolean" />
      <xs:element minOccurs="0" name="Serial_Number" type="xs:int" />
      <xs:element minOccurs="0" name="Source_Directory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source_File_CheckSum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurrKey" type="xs:int" />
      <xs:element minOccurs="0" name="TrackChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type_of_User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File_Data" nillable="true" type="tns:File_Data" />
  <xs:complexType name="File_Operations">
    <xs:sequence>
      <xs:element minOccurs="0" name="LockUnlock" nillable="true" type="tns:LockUnlockFile" />
      <xs:element minOccurs="0" name="Print_Documents" nillable="true" type="tns:Print_Documents" />
      <xs:element minOccurs="0" name="ScanSignature" nillable="true" type="tns:Scan_Signature" />
      <xs:element minOccurs="0" name="UpdateComments" nillable="true" type="tns:Update_Users_Comments" />
      <xs:element minOccurs="0" name="Update_Properties" nillable="true" type="tns:Update_Document_Custom_Variables" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File_Operations" nillable="true" type="tns:File_Operations" />
  <xs:complexType name="LockUnlockFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="LockFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lock_Type" type="tns:LockType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LockUnlockFile" nillable="true" type="tns:LockUnlockFile" />
  <xs:simpleType name="LockType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReadOnly" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Comments" />
      <xs:enumeration value="TrackedChanges" />
      <xs:enumeration value="Forms" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LockType" nillable="true" type="tns:LockType" />
  <xs:complexType name="Print_Documents">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clear_comments" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Print_Documents" nillable="true" type="tns:Print_Documents" />
  <xs:complexType name="Scan_Signature">
    <xs:sequence>
      <xs:element minOccurs="0" name="Remove_Scan_Sign" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Users_Scan_Sign" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Scan_Signature" nillable="true" type="tns:Scan_Signature" />
  <xs:complexType name="Update_Users_Comments">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dtDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Update_Users_Comments" nillable="true" type="tns:Update_Users_Comments" />
  <xs:complexType name="Update_Document_Custom_Variables">
    <xs:sequence>
      <xs:element minOccurs="0" name="eDocument_Process" type="tns:Documents_Process" />
      <xs:element minOccurs="0" name="eDocument_Status" type="tns:Documents_Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Update_Document_Custom_Variables" nillable="true" type="tns:Update_Document_Custom_Variables" />
  <xs:simpleType name="Documents_Process">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Controller_Live" />
      <xs:enumeration value="Transfer_Document" />
      <xs:enumeration value="Controller_Publish" />
      <xs:enumeration value="Document_Recall" />
      <xs:enumeration value="TR4" />
      <xs:enumeration value="Document_Issuance" />
      <xs:enumeration value="Preview" />
      <xs:enumeration value="PDC" />
      <xs:enumeration value="Update_User_Comments" />
      <xs:enumeration value="Attach_Custom_Variables" />
      <xs:enumeration value="obsolete_Document" />
      <xs:enumeration value="Expired_Document" />
      <xs:enumeration value="NA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Documents_Process" nillable="true" type="tns:Documents_Process" />
  <xs:simpleType name="Documents_Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Draft" />
      <xs:enumeration value="Draft_Approved" />
      <xs:enumeration value="Publish" />
      <xs:enumeration value="Issued" />
      <xs:enumeration value="Expired" />
      <xs:enumeration value="Obsolete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Documents_Status" nillable="true" type="tns:Documents_Status" />
  <xs:complexType name="ArrayOfFile_Data">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File_Data" nillable="true" type="tns:File_Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile_Data" nillable="true" type="tns:ArrayOfFile_Data" />
</xs:schema>