MyFileServer/BllCode/eDocsDN_File_Server/eDocsDN_File_Server/Service References/File_Server/Service141.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.106/DOEV8E-1A_File_Server/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" />
  <xs:element name="CopyFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q1:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_Exist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q2:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_ExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_File_ExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_File_Information">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q3:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_File_InformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="Get_File_InformationResult" nillable="true" type="q4:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_Is_Locked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_Is_LockedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_File_Is_LockedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_File">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q5:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_FileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_FileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>