MyFileServer/BllCode/GetConInfo/Web References/WR_GetAppInfo/Ws_GetAppInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetConnectionString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="szProductName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="szRegion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="szConnectionType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConnectionStringResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="szErrorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetConnectionString" />
  </wsdl:message>
  <wsdl:message name="GetConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectionStringResponse" />
  </wsdl:message>
  <wsdl:portType name="ClsGetAppInfoSoap">
    <wsdl:operation name="GetConnectionString">
      <wsdl:input message="tns:GetConnectionStringSoapIn" />
      <wsdl:output message="tns:GetConnectionStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClsGetAppInfoSoap" type="tns:ClsGetAppInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConnectionString">
      <soap:operation soapAction="http://tempuri.org/GetConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClsGetAppInfoSoap12" type="tns:ClsGetAppInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConnectionString">
      <soap12:operation soapAction="http://tempuri.org/GetConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClsGetAppInfo">
    <wsdl:port name="ClsGetAppInfoSoap" binding="tns:ClsGetAppInfoSoap">
      <soap:address location="http://localhost:3526/Code/Ws_GetAppInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="ClsGetAppInfoSoap12" binding="tns:ClsGetAppInfoSoap12">
      <soap12:address location="http://localhost:3526/Code/Ws_GetAppInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>