Console/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" />
  <xs:element name="CopyFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q1:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="CopyFileResult" nillable="true" type="q2:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="lstFileData" nillable="true" type="q3:ArrayOfFile_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="ListOfFilesResult" nillable="true" type="q4:ArrayOfFile_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_File">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q5:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_FileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_FileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_Exist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q6:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_ExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_File_ExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_File_Information">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q7:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_File_InformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="Get_File_InformationResult" nillable="true" type="q8:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_Is_Locked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_Is_LockedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_File_Is_LockedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_Is_Locked_WithVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="szOfficeVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File_Is_Locked_WithVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_File_Is_Locked_WithVersionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pre_Check_File">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pre_Check_FileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pre_Check_FileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pre_Check_File_Blob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArrFile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pre_Check_File_BlobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pre_Check_File_BlobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_File">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q9:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_FileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_FileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Documents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q10:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="Get_DocumentsResult" nillable="true" type="q11:ArrayOfFile_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Server_Date_Time">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Server_Date_TimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Server_Date_TimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Server_Time">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Server_TimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Server_TimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Document_CheckSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q12:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Document_CheckSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Document_CheckSumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Convert_Document_To_PDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" minOccurs="0" name="oFileData" nillable="true" type="q13:File_Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Convert_Document_To_PDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Convert_Document_To_PDFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>