Console/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IService1_CopyFile_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsat:ATAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IService1_ListOfFiles_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsat:ATAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IService1_Delete_File_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsat:ATAssertion wsp:Optional="true" wsp1:Optional="true" xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:wsp1="http://schemas.xmlsoap.org/ws/2002/12/policy" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/eDocsDN_Get_Directory_Info" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CopyFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyFile" />
  </wsdl:message>
  <wsdl:message name="IService1_CopyFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfFiles" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_File_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_File" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_File_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_FileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Check_File_Exist_InputMessage">
    <wsdl:part name="parameters" element="tns:Check_File_Exist" />
  </wsdl:message>
  <wsdl:message name="IService1_Check_File_Exist_OutputMessage">
    <wsdl:part name="parameters" element="tns:Check_File_ExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_File_Information_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_File_Information" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_File_Information_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_File_InformationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Check_File_Is_Locked_InputMessage">
    <wsdl:part name="parameters" element="tns:Check_File_Is_Locked" />
  </wsdl:message>
  <wsdl:message name="IService1_Check_File_Is_Locked_OutputMessage">
    <wsdl:part name="parameters" element="tns:Check_File_Is_LockedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Check_File_Is_Locked_WithVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:Check_File_Is_Locked_WithVersion" />
  </wsdl:message>
  <wsdl:message name="IService1_Check_File_Is_Locked_WithVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Check_File_Is_Locked_WithVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pre_Check_File_InputMessage">
    <wsdl:part name="parameters" element="tns:Pre_Check_File" />
  </wsdl:message>
  <wsdl:message name="IService1_Pre_Check_File_OutputMessage">
    <wsdl:part name="parameters" element="tns:Pre_Check_FileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pre_Check_File_Blob_InputMessage">
    <wsdl:part name="parameters" element="tns:Pre_Check_File_Blob" />
  </wsdl:message>
  <wsdl:message name="IService1_Pre_Check_File_Blob_OutputMessage">
    <wsdl:part name="parameters" element="tns:Pre_Check_File_BlobResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Check_File_InputMessage">
    <wsdl:part name="parameters" element="tns:Check_File" />
  </wsdl:message>
  <wsdl:message name="IService1_Check_File_OutputMessage">
    <wsdl:part name="parameters" element="tns:Check_FileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Documents_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Documents" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Documents_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_DocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Server_Date_Time_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Server_Date_Time" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Server_Date_Time_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Server_Date_TimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Server_Time_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Server_Time" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Server_Time_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Server_TimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Document_CheckSum_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Document_CheckSum" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Document_CheckSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Document_CheckSumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Convert_Document_To_PDF_InputMessage">
    <wsdl:part name="parameters" element="tns:Convert_Document_To_PDF" />
  </wsdl:message>
  <wsdl:message name="IService1_Convert_Document_To_PDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:Convert_Document_To_PDFResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CopyFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CopyFile" message="tns:IService1_CopyFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CopyFileResponse" message="tns:IService1_CopyFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOfFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListOfFiles" message="tns:IService1_ListOfFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListOfFilesResponse" message="tns:IService1_ListOfFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_File">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_File" message="tns:IService1_Delete_File_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_FileResponse" message="tns:IService1_Delete_File_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check_File_Exist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Check_File_Exist" message="tns:IService1_Check_File_Exist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Check_File_ExistResponse" message="tns:IService1_Check_File_Exist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_File_Information">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_File_Information" message="tns:IService1_Get_File_Information_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_File_InformationResponse" message="tns:IService1_Get_File_Information_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check_File_Is_Locked">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Check_File_Is_Locked" message="tns:IService1_Check_File_Is_Locked_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Check_File_Is_LockedResponse" message="tns:IService1_Check_File_Is_Locked_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check_File_Is_Locked_WithVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Check_File_Is_Locked_WithVersion" message="tns:IService1_Check_File_Is_Locked_WithVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Check_File_Is_Locked_WithVersionResponse" message="tns:IService1_Check_File_Is_Locked_WithVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pre_Check_File">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pre_Check_File" message="tns:IService1_Pre_Check_File_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Pre_Check_FileResponse" message="tns:IService1_Pre_Check_File_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pre_Check_File_Blob">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pre_Check_File_Blob" message="tns:IService1_Pre_Check_File_Blob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Pre_Check_File_BlobResponse" message="tns:IService1_Pre_Check_File_Blob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check_File">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Check_File" message="tns:IService1_Check_File_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Check_FileResponse" message="tns:IService1_Check_File_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Documents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Documents" message="tns:IService1_Get_Documents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_DocumentsResponse" message="tns:IService1_Get_Documents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Server_Date_Time">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Server_Date_Time" message="tns:IService1_Get_Server_Date_Time_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_Server_Date_TimeResponse" message="tns:IService1_Get_Server_Date_Time_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Server_Time">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Server_Time" message="tns:IService1_Get_Server_Time_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_Server_TimeResponse" message="tns:IService1_Get_Server_Time_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Document_CheckSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Document_CheckSum" message="tns:IService1_Get_Document_CheckSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_Document_CheckSumResponse" message="tns:IService1_Get_Document_CheckSum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Convert_Document_To_PDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Convert_Document_To_PDF" message="tns:IService1_Convert_Document_To_PDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Convert_Document_To_PDFResponse" message="tns:IService1_Convert_Document_To_PDF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#WSHttpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CopyFile">
      <wsp:PolicyReference URI="#WSHttpBinding_IService1_CopyFile_policy" />
      <soap12:operation soapAction="http://tempuri.org/IService1/CopyFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListOfFiles">
      <wsp:PolicyReference URI="#WSHttpBinding_IService1_ListOfFiles_policy" />
      <soap12:operation soapAction="http://tempuri.org/IService1/ListOfFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_File">
      <wsp:PolicyReference URI="#WSHttpBinding_IService1_Delete_File_policy" />
      <soap12:operation soapAction="http://tempuri.org/IService1/Delete_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_File_Exist">
      <soap12:operation soapAction="http://tempuri.org/IService1/Check_File_Exist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_File_Information">
      <soap12:operation soapAction="http://tempuri.org/IService1/Get_File_Information" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_File_Is_Locked">
      <soap12:operation soapAction="http://tempuri.org/IService1/Check_File_Is_Locked" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_File_Is_Locked_WithVersion">
      <soap12:operation soapAction="http://tempuri.org/IService1/Check_File_Is_Locked_WithVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pre_Check_File">
      <soap12:operation soapAction="http://tempuri.org/IService1/Pre_Check_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pre_Check_File_Blob">
      <soap12:operation soapAction="http://tempuri.org/IService1/Pre_Check_File_Blob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check_File">
      <soap12:operation soapAction="http://tempuri.org/IService1/Check_File" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Documents">
      <soap12:operation soapAction="http://tempuri.org/IService1/Get_Documents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Server_Date_Time">
      <soap12:operation soapAction="http://tempuri.org/IService1/Get_Server_Date_Time" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Server_Time">
      <soap12:operation soapAction="http://tempuri.org/IService1/Get_Server_Time" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Document_CheckSum">
      <soap12:operation soapAction="http://tempuri.org/IService1/Get_Document_CheckSum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Convert_Document_To_PDF">
      <soap12:operation soapAction="http://tempuri.org/IService1/Convert_Document_To_PDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="WSHttpBinding_IService1" binding="tns:WSHttpBinding_IService1">
      <soap12:address location="https://localhost:53727/Service1.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:53727/Service1.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>