MyFileServer/BllCode/eDocsDN_Word_File_Operations/eDocsDN_Word_File_Operations/Service References/Process_Word_Document/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalcService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICalcService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalcService_Get_DateTime_With_Thread_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_DateTime_With_Thread" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Get_DateTime_With_Thread_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_DateTime_With_ThreadResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_CP_Process_InputMessage">
    <wsdl:part name="parameters" element="tns:CP_Process" />
  </wsdl:message>
  <wsdl:message name="ICalcService_CP_Process_OutputMessage">
    <wsdl:part name="parameters" element="tns:CP_ProcessResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Process_Word_Document_InputMessage">
    <wsdl:part name="parameters" element="tns:Process_Word_Document" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Process_Word_Document_OutputMessage">
    <wsdl:part name="parameters" element="tns:Process_Word_DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Update_Document_Properties_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Document_Properties" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Update_Document_Properties_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_Document_PropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Convert_To_PDF_InputMessage">
    <wsdl:part name="parameters" element="tns:Convert_To_PDF" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Convert_To_PDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:Convert_To_PDFResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalcService">
    <wsdl:operation name="Get_DateTime_With_Thread">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Get_DateTime_With_Thread" message="tns:ICalcService_Get_DateTime_With_Thread_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/Get_DateTime_With_ThreadResponse" message="tns:ICalcService_Get_DateTime_With_Thread_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CP_Process">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/CP_Process" message="tns:ICalcService_CP_Process_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/CP_ProcessResponse" message="tns:ICalcService_CP_Process_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Process_Word_Document">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Process_Word_Document" message="tns:ICalcService_Process_Word_Document_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/Process_Word_DocumentResponse" message="tns:ICalcService_Process_Word_Document_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Document_Properties">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Update_Document_Properties" message="tns:ICalcService_Update_Document_Properties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/Update_Document_PropertiesResponse" message="tns:ICalcService_Update_Document_Properties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Convert_To_PDF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Convert_To_PDF" message="tns:ICalcService_Convert_To_PDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/Convert_To_PDFResponse" message="tns:ICalcService_Convert_To_PDF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalcService" type="tns:ICalcService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_DateTime_With_Thread">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Get_DateTime_With_Thread" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CP_Process">
      <soap:operation soapAction="http://tempuri.org/ICalcService/CP_Process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Process_Word_Document">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Process_Word_Document" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Document_Properties">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Update_Document_Properties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Convert_To_PDF">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Convert_To_PDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICalcService" type="tns:ICalcService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICalcService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Get_DateTime_With_Thread">
      <soap12:operation soapAction="http://tempuri.org/ICalcService/Get_DateTime_With_Thread" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CP_Process">
      <soap12:operation soapAction="http://tempuri.org/ICalcService/CP_Process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Process_Word_Document">
      <soap12:operation soapAction="http://tempuri.org/ICalcService/Process_Word_Document" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Document_Properties">
      <soap12:operation soapAction="http://tempuri.org/ICalcService/Update_Document_Properties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Convert_To_PDF">
      <soap12:operation soapAction="http://tempuri.org/ICalcService/Convert_To_PDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="BasicHttpBinding_ICalcService" binding="tns:BasicHttpBinding_ICalcService">
      <soap:address location="http://192.168.1.81/CalcService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICalcService" binding="tns:NetTcpBinding_ICalcService">
      <soap12:address location="net.tcp://192.168.1.81/CalcService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.81/CalcService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/ESPL-C-827.espl-c-310.educesolutions.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>